# ── Python
__pycache__/
*.py[cod]
*.so
.Python

build/
dist/
downloads/
wheels/
.eggs/
*.egg-info/
*.egg
sdist/
htmlcov/

.venv/
venv/
ENV/
env/

.idea/
.vscode/
*.swp
*.swo
.DS_Store

*.log
.coverage
.coverage.*
*.coverage
coverage.xml
*.cover
.tox/
.nox/
.pytest_cache/
*.pytest_cache
.cache/

*.db
*.sqlite3

*.local

openapi.json

docker-compose.yaml
docker-compose.yml

.env
.env.local
.env.development
.env.test
.env.production

backend/etl/utils/instantclient-basic-macos.x64-19.16.0.0.0dbru.dmg
backend/etl/utils/instantclient_19_16/